<div class="container-fluid">
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <strong class="navbar-brand">FoodList</strong>
      <p class="navbar-text">See who's bringing what</p>
    </div>
    <div class="user-info" ng-if="auth.user">
      {{auth.user.email}}
      <button class="navbar-btn btn btn-warning" ng-click="signOut()">sign out</button>
    </div>
  </nav>
  
  <div class="content-container">
    
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Meal Date</h2>
          </div>
          <div class="panel-body">
            <p ng-if="!meta.date">Loading...</p>
            <p>{{meta.date}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Meal Theme</h2>
          </div>
          <div class="panel-body">
            <p ng-if="!meta.theme">Loading...</p>
            <p><strong>{{meta.theme}}<span ng-if="meta.suggestions">:</span></strong></p>
            <ul ng-if="meta.suggestions">
              <li ng-repeat="s in meta.suggestions">{{s}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <table class="item-list table table-striped">
      <thead>
        <tr>
          <th>Who</th>
          <th>What</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="items && items.$getIndex().length === 0">
          <td colspan="3" style="text-align: center"><em>No one's signed up to bring anything yet</em></td>
        </tr>
        <tr ng-repeat="item in items | orderByPriority">
          <td style="vertical-align: middle">{{item.name}}</td>
          <td style="vertical-align: middle">{{item.food}}</td>
          <td>
            <button class="btn btn-danger" ng-if="auth.user && item.owner === auth.user.email" ng-click="removeItem(item)">
              <span class="delete-icon glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>

    <div class="login jumbotron" ng-if="!auth.user">
      <h4 class="jumbotron-heading">Sign In to Add to the List</h4>
      <div class="alert alert-danger" ng-if="authError">
        {{authError}}
      </div>
      <form class="form" role="form" ng-submit="signIn()">
        <div class="form-group">
          <label for="inputName" class="ie-show">Email</label>
          <input type="email" class="form-control" id="inputName" ng-model="userCreds.email" placeholder="email">
        </div>
        <div class="form-group">
          <label for="inputItem" class="ie-show">Password</label>
          <input type="password" class="form-control" id="inputPassword" ng-model="userCreds.password" placeholder="password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right">{{signinButtonText}}</button>
        </div>
      </form>
    </div>

    <div class="add-item jumbotron" ng-model="item" ng-if="auth.user">
      <h4 class="jumbotron-heading">Add Your Item to the List</h4>
      <form class="form" name="addFoodForm" role="form" ng-submit="addItem()">
        <div class="form-group">
          <label for="" class="ie-show">Your Name</label>
          <input type="text" class="form-control" id="inputName" ng-model="item.name" placeholder="Your name" required>
        </div>
        <div class="form-group">
          <label for="inputFood" class="ie-show">What You're Bringing</label>
          <input type="text" class="form-control" id="inputFood" ng-model="item.food" placeholder="what you're bringing" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right" ng-disabled="addFoodForm.$invalid">Add My Item</button>
        </div>
      </form>
    </div>

    <em>If you're having problems<span ng-if="!auth.user">&nbsp;or need an account</span>, <a target="_blank" href="mailto:mklickman1@gmail.com">please let me know.</a></em>

  </div><!-- .content-container -->

</div><!-- .container-fluid -->